JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTcwMDk0MzgzMSwiaWF0IjoxNzAwOTQzODMxfQ.0k1VHjG8_CY9CGb-vR0RLRbR_v3hdr3n5YD0e_HeDk8
DB_URI=mongodb+srv://user99:Oajag2nu4Mius4hs@atlascluster.5brewdk.mongodb.net/?retryWrites=true&w=majority
PORT=4000